body { padding-top: 70px; }
.gaLogo{
  background-image: url('../images/GA_Stack_Small_RedBlack_RGB.png');
  display: inline-block;
  background-position: center;
  background-size: contain;
  height: 14px;
  width: 50px;
  background-repeat: no-repeat;
}
